<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    {% for css_name in page.extra_css %}
    <link rel="stylesheet" href="{{ css_name }}">
    {% endfor %}
    <link rel="shortcut icon" href="/img/favicon.ico" >
  </head>

  <body>
    <div id="wrap">
      <div class="container">
        <div class="row bottom-buffer">

          <div class="span3 text-center bottom-buffer">
            <a href="/part1/">
              <img src="/img/part_images-02.png" width="70px" height="35px" style="border: solid 1px #ffffff;padding: 8px;">
            </a>
            <br/><br/>
            <a href="/">
              <img src="/img/part_images-01.png" width="70px" height="35px" style="border: solid 1px #6b0103;padding: 8px;">
            </a>

            <!--<p><a class="pageid" href="/part1/">Part 1</a></p>
            <p><a class="pageid active" href="/">Part 2</a></p>-->

          </div>


          <div class="span6 top-buffer text-center">
            <a href="/"><img src="/img/logo2.png" alt="Gib&Jo" width="250px" /></a>
          </div>
          <div class="span3">
          </div>        
        </div>
      </div>

       <nav class="navbar navbar-default center">
          <div class="navbar-inner">
            <div class="container-fluid">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" style="background-color: white; background: white; color: black; box-shadow: none; border: none; font-size: 35px; margin-bottom: 20px;">
              <!-- <img src="/img/lightbox/prev.png"> -->
              <span>&#9776;</span>
              </button>

              <div class="nav-collapse collapse center" style="border: none;">
                <ul class="nav">
{% assign pages_list = site.pages %}
{% assign group = 'part2nav' %}
{% include pages_list %}
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </nav>



<div class="container">

{{ content }}

</div>
</div>

    <!-- Latest compiled and minified JavaScript, requires jQuery 1.x (2.x not supported in IE8) -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    {% for js_name in page.extra_js %}
    <script src="{{ js_name }}"></script>
    {% endfor %}
  </body>
</html>

